<?xml version="1.0" encoding="utf-8"?>

<configuration>
  
  <appSettings>
    <add key="GROC" value="server=DESKTOP-C1FVMTM;uid=sa;pwd=digit;database=Grossary;Connection timeout=600" />
    <!--<add key="GROC" value="server=103.21.58.193;uid=grossary_web;pwd=Amphi@12356;database=Grossary;Connection timeout=600" />-->
  </appSettings>
  <connectionStrings />
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <add value="Home.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <!--
    
  -->
  <system.web>
<sessionState timeout="100"></sessionState>
<webServices>
<protocols>
<add name="HttpGet"/>
<add name="HttpPost"/>
</protocols>
</webServices>
    <urlMappings enabled="true">
      
      <add url="~/index" mappedUrl="~/index.html" />
      <add url="~/pc" mappedUrl="~/Landing.aspx" />
      <add url="~/home" mappedUrl="~/Landing.aspx" />
      <add url="~/login" mappedUrl="~/User-Login.aspx" />
      <add url="~/signup" mappedUrl="~/User-Register.aspx" />
      <add url="~/password-recovery" mappedUrl="~/Forget-Password.aspx" />
      <add url="~/account" mappedUrl="~/MyAccount.aspx" />
      <add url="~/profile" mappedUrl="~/Profile-Update.aspx" />
      <add url="~/orderdetails" mappedUrl="~/My-Order.aspx" />
      <add url="~/Myorders" mappedUrl="~/OrderHistory.aspx" />
      <add url="~/Mytransactions" mappedUrl="~/TransactionHistory.aspx" />
      <add url="~/Changepassword" mappedUrl="~/ChangePassword.aspx" />
      <add url="~/order-history" mappedUrl="~/Order-Details.aspx" />
      <add url="~/offer" mappedUrl="~/MyOffer.aspx" />
      <add url="~/product" mappedUrl="~/Grocery.aspx" />
      <add url="~/btexclusive" mappedUrl="~/BTexclusive.aspx" />
      <add url="~/personalcare" mappedUrl="~/PersonalCare.aspx" />
      <add url="~/Office-Stationary" mappedUrl="~/Office-Stationary.aspx" />
      <add url="~/bread-bakery" mappedUrl="~/Bakery.aspx" />
      <add url="~/beverage" mappedUrl="~/Beverages.aspx" />
      <add url="~/brandedfood" mappedUrl="~/BrandedFood.aspx" />
      <add url="~/household" mappedUrl="~/Household.aspx" />
      <add url="~/brand" mappedUrl="~/Brands.aspx" />
      <add url="~/catagory" mappedUrl="~/Products.aspx" />
      <add url="~/my-cart" mappedUrl="~/Add-Cart.aspx" />
      <add url="~/order" mappedUrl="~/Place-Order.aspx" />
      <add url="~/transaction" mappedUrl="~/Payment-Option.aspx" />
      <add url="~/order-confirm" mappedUrl="~/Order-Confirm.aspx" />
      <add url="~/contact-us" mappedUrl="~/Contact-Us.aspx" />
      <add url="~/user-review" mappedUrl="~/Feedback.aspx" />
      <add url="~/sitemap" mappedUrl="~/SiteMap.aspx" />
      <add url="~/search-item" mappedUrl="~/Search-Item.aspx" />
      <add url="~/return-refund" mappedUrl="~/Refund-Item.aspx" />
      <add url="~/about" mappedUrl="~/About-Us.html" />
      <add url="~/contact" mappedUrl="~/Contact-Us.html" />
      <add url="~/faq" mappedUrl="~/Faq.html" />
      <add url="~/term-and-condition" mappedUrl="~/Term-Condition.html" />
      <add url="~/feedback" mappedUrl="~/Feedback.aspx" />
      <add url="~/Vendor" mappedUrl="~/Vendorlogin.aspx" />
      <add url="~/Dryfood" mappedUrl="~/Dry-Food.aspx" />
      <add url="~/Babyfood" mappedUrl="~/Baby-Food.aspx" />
      <add url="~/Monsoonfood" mappedUrl="~/Monsoon-Food.aspx" />
      
      
    
    </urlMappings>
    <!--<customErrors mode="On" defaultRedirect="Error.html"></customErrors>-->

    <httpRuntime executionTimeout="400" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <authentication mode="Windows" />
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" />
  </system.web>
  <runtime> 
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">  
            <dependentAssembly> 
                 <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" /> 
                 <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
            </dependentAssembly>
       </assemblyBinding>
  </runtime>

</configuration>